body {
  font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
  box-sizing: border-box;
  margin: 0;
  background: #e7ebf0;
}

.container {
  width: 1008px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: #5682a3;
  height: 50px;
  display: flex;
  cursor: pointer;
}

.burger {
  margin-left: 20px;
  display: flex;
  align-items: center;

  width: 18px;
  height: 14px;
}

.icon_burger {
  position: relative;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.icon_burger::before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  top: -6px;
}

.icon_burger::after {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  top: 6px;
}

.header_burger_logo:hover .icon_burger::before {
  top: -7px;
}

.header_burger_logo:hover .icon_burger::after {
  top: 7px;
}

.header_burger_logo {
  display: flex;
  align-items: center;
  width: 318px;
}

.logo {
  font-size: 14px;
  margin-left: 38px;
  color: white;
  font-size: 14px;
}

.header_burger_logo:hover {
  background-color: #497799;
}

.header_person_name {
  display: flex;
  width: 595px;
  color: #cad8e2;
  align-items: center;
}

.h_name {
  margin-left: 20px;

  font-weight: bold;
  color: white;
}

.h_time {
  font-weight: normal;
  margin-left: 7px;
}

.h_time:hover {
  color: white;
}

.header_person_name:hover {
  background-color: #497799;
  color: white;
}

.header_search {
  display: flex;
  width: 56px;
  align-items: center;
}

.header_search img {
  margin-left: 15px;
}

.header_search:hover {
  background-color: #497799;
}

.header_dots_menu {
  display: flex;
  align-items: center;
  width: 50px;
}

.header_dots_menu img {
  margin-left: 17px;
}

.header_dots_menu:hover {
  background-color: #497799;
}

/* /HEADER */

/* CONTACTS */
.people {
  margin-bottom: 20px;
  height: 100%;
  overflow-y: hidden;
  margin-right: -2px;
  border-right: 2px solid #e9ebed;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #adbfcc;
  background-color: #adbfcc;
}

.people:hover {
  margin-right: -4px;
  overflow-y: auto;
}

.content {
  display: flex;
  height: 806px;
  max-height: 809px;
}

.contacts {
  background: white;
  width: 310px;
  border-right: 2px solid #e9ebed;
}

.contacts:hover {
  cursor: pointer;
}

/* SEARCH */
.search_container {
  width: 310px;
  height: 60px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.search_container input#search {
  margin-top: 13px;
  margin-left: 13px;
  width: 285px;
  height: 33px;
  background: #f2f2f2;
  border: none;
  font-size: 12px;
  float: left;
  color: #63717f;
  padding-left: 32px;
}

.search_container .icon {
  background: url(img/search_icon.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 9%;
  left: 5px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #bebebe;
}

.search_container input#search:focus,
.search_container input#search:focus,
.search_container input#search:active {
  outline: none;
  background: #ffffff;
  border: #f2f2f2 1px solid;
  cursor: text;
}

/* /SEARCH */

.human {
  position: relative;
  height: 62px;
}

.avatar {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -25px;
}

.avatar img {
  width: 50px;

  border-radius: 50%;
}

.name {
  position: absolute;
  top: 10px;
  left: 80px;
  font-weight: bold;
}

.spname {
  color: black;
}

.message {
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.date {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.85em;
}

.first_variant {
  background-color: #6490b1;
  color: white;
}

.spnamef {
  color: black;
}

.second_variant {
  background-color: #fff;
  color: #b3abab;
}

.second_variant:hover {
  background: #f2f6fa;
  color: #6490b1;
}

.countmes {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background-color: #64c270;
  border-radius: 50%;
  color: white;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 12px;
}

.cmt {
  position: absolute;
  bottom: 7px;
  right: 15px;
}

.ms span {
  color: #4d7ea8;
}

.unread {
  position: absolute;
  bottom: 14px;
  right: 15px;

  font-size: 25px;
}

.cm3 {
  border-radius: 38%;
}

.cmgray {
  border-radius: 38%;
  background-color: #bfbfbf;
}

/* /CONTACTS */

/* CHAT */
.chat {
  position: relative;
  width: 100%;
  height: 866px;
  background-color: white;
}

.send_form {
  position: absolute;
  width: 524px;
  height: 97px;
  left: 66px;
  margin: 10px 15px 21px 15px;
  bottom: 8px;
}

.ava img {
  top: 10px;
  position: absolute;
  width: 50px;

  border-radius: 50%;
}
.ava:hover {
  cursor: pointer;
}
.my_ava {
  left: 0;
}

.your_ava {
  right: 0;
}

.bottom_panel {
  display: flex;
  align-items: center;
  position: absolute;
  width: 382px;
  height: 30px;
  background-color: white;
  bottom: -10px;
  left: 70px;
}

.fa {
  color: rgb(195, 195, 195);
  margin-right: 18px;
}

.fa:hover {
  cursor: pointer;
  color: rgb(118, 118, 118);
}
.fa:active {
  color: rgb(66, 153, 224);
}

.smile_bar img {
  margin-top: 4px;
  margin: 0;
  width: 19px;
  padding: 6px;
}

.smile_bar img:hover {
  background: #edf2f5;
  cursor: pointer;
}

.send_btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #47a8e0;
  font-weight: bold;
}

.send_btn:hover {
  color: #3a8dc6;
  cursor: pointer;
}

.message_block {
  top: 10px;
  position: absolute;
  left: 75px;
  width: 380px;
  height: 52px;
  padding-bottom: 4px;
  border-bottom: 1px solid #e8e8e8;
  cursor: text;
}

.send_form:hover .message_block {
  border-bottom: 2px solid #3a8dc6;
}

.message_block textarea {
  font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
  border: 0;
  height: 52px;
  width: 335px;
  outline: none;

  resize: none;
}

.message_block:valid {
  border-bottom: 3px solid red;
}

.smile_img {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 5px;
  top: 0;
  background: url(img/smilebtn1.png);
  cursor: pointer;

  background-repeat: no-repeat;
  display: block;
  text-align: center;
}

.smile_img:hover {
  background: url(img/smilebtn2.png);
  background-repeat: no-repeat;
}

/* MESSAGES */
.chat_block {
  margin-right: 8px;
  margin-top: 10px;
  top: 0;
  width: 686.86px;
  height: 740px;
  overflow-y: auto;
}
.chat_block::-webkit-scrollbar {
  display: none;
}

.chat_block:hover::-webkit-scrollbar {
  display: block;
  overflow-y: scroll;

  border-radius: 2px;
  width: 10px;
  border-color: #adbfcc;
  background-color: #dfe8f0;
}

.message_ch_block {
  padding-top: 10px;
}

.message_chat_block {
  cursor: pointer;
  position: relative;
  margin-left: 88px;
  display: flex;
  width: 510px;
}

.message_chat_block img {
  position: absolute;
  width: 43px;

  border-radius: 50%;
}
.name_message {
  position: absolute;
  left: 60px;
  top: 3px;
  color: #3a6d99;
  font-weight: 700;
}
.name_message:hover {
  text-decoration: underline;
}

.date_message {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 3px;
  color: #adadad;
  font-size: 0.85em;
}
.date_message:hover {
  text-decoration: underline;
}

.text_message {
  position: absolute;
  width: 390px;
  top: 30px;
  left: 60px;

  line-height: 150%;
  white-space: pre-wrap;
}

.icon_message {
  position: absolute;
  width: 26px;
  height: 26px;

  left: -55px;
  top: 10px;
}

.message_chat_block:hover .icon_message {
  background: url(img/mes_img.png);
}

.block_one {
  height: 130px;
}

.block_two {
  height: 80px;
}

.block_three {
  height: 150px;
}
.block_four {
  height: 80px;
}
.block_five {
  height: 165px;
}
.block_six {
  height: 80px;
}
.block_seven {
  height: 170px;
}
.block_eight {
  height: 100px;
  margin-bottom: 50px;
}

/* /MESSAGES */
/* /CHAAT */
