body {
  font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
  box-sizing: border-box;
  margin: 0;
  background: #e7ebf0;
}
.container {
  width: 1000px;

  /* background-color: black; */
  margin: 0 auto;
}

/* HEADER */
.header {
  /* font-size: 14px; */
  background-color: #5682a3;
  height: 50px;
  display: flex;
  cursor: pointer;
}

.burger {
  margin-left: 20px;
  display: flex;
  align-items: center;

  width: 18px;
  height: 14px;
}

.icon_menu {
  position: relative;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.icon_menu::before {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  top: -6px;
}

.icon_menu::after {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  top: 6px;
}

.header_tg {
  display: flex;
  align-items: center;
  width: 318px;
}

.logo {
  font-size: 14px;
  margin-left: 38px;
  color: white;
  font-size: 14px;
}
.header_tg:hover {
  background-color: #497799;
}

.header_name {
  display: flex;
  width: 595px;
  color: #cad8e2;
  align-items: center;
}
.h_name {
  margin-left: 20px;

  font-weight: bold;
  color: white;
}
.h_time {
  font-weight: normal;
  margin-left: 7px;
}
.h_time:hover {
  color: white;
}

.header_name:hover {
  background-color: #497799;
  color: white;
}

.header_search {
  display: flex;
  width: 56px;
  align-items: center;
}
.header_search img {
  margin-left: 15px;
}

.header_search:hover {
  background-color: #497799;
}

.header_menu {
  display: flex;
  align-items: center;
  width: 50px;
}
.header_menu img {
  margin-left: 17px;
}
.header_menu:hover {
  background-color: #497799;
}

/* HEADER */

/* CONTACTS */
.people {
  height: 750px;
  overflow-y: hidden;
  margin-right: -2px;
  border-right: 2px solid #e9ebed;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #adbfcc;
  background-color: #aaa;
}

.people:hover {
  margin-right: -4px;
  overflow-y: auto;
}

.content {
  display: flex;
  height: 809px;
  max-height: 809px;
}

.contacts {
  background: white;
  width: 453px;
  border-right: 2px solid #e9ebed;
}

.contacts:hover {
  cursor: pointer;
}

.search {
  height: 58px;
}
.search input {
  margin: 10px;
  width: 285px;
  height: 25px;
}

.human {
  position: relative;
  height: 62px;
}

.avatar {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -25px;
}
.avatar img {
  width: 50px;

  border-radius: 50%;
}

.name {
  position: absolute;
  top: 10px;
  left: 80px;
  font-weight: bold;
}

.spname {
  color: black;
}

.message {
  position: absolute;
  bottom: 10px;
  left: 80px;
  /* color: #d4d4d4; */
}
.date {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 0.85em;
}

.first {
  background-color: #6490b1;
  color: white;
}
.spnamef {
  color: black;
}
.second {
  background-color: #fff;
  color: #b3abab;
}

.second:hover {
  background: #f2f6fa;
  color: #6490b1;
}
.countmes {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background-color: #64c270;
  border-radius: 50%;
  color: white;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 12px;
}

.cmt {
  position: absolute;
  bottom: 7px;
  right: 15px;
}

.ms span {
  color: #4d7ea8;
}
.unread {
  position: absolute;
  bottom: 14px;
  right: 15px;

  font-size: 25px;
}

.cm3 {
  border-radius: 38%;
}
.cmgray {
  border-radius: 38%;
  background-color: #bfbfbf;
}
/* CONTACTS */

.chat {
  width: 100%;
  background-color: white;
  cursor: pointer;
}
